*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
   
}

a{
    text-decoration: none;
    color: whitesmoke;
}

    .header {
        background-color: #000;
        padding: 10px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
   
    

    }
        .menu-container{
            display: flex;
            align-items: center;
            background-color: #000;
            padding: 10px;
            height: 50px;
            width: 100%;
            
                    
        }
            .logo{
                display: flex;
                align-items: center;
                flex: 1 1 auto;
                
                
                
                
            }
                .logo img{
                    height: 50px;
                    /*El margin va asi: top right botton y left*/
                    margin: 0 5px 0px 30px;
                    
                }
                .logo a{
                     /*no me cogia font weight cunado ponia numeros, debe ser por el tipo de fuente, mejor usar bold*/
                    font-weight: bold;
                    font-size: x-large;
                    letter-spacing: 0.2px;
                    word-spacing: -2px;
                }
            .menu{
                display: flex;
                align-items: center;
                padding-right: 30px;
                               
                

            }
                .menu a{
                                    
                    padding-right: 40px;
                    
                }
                .menu a p{
                    font-size: 14px;
                   
                    
                    
                }
               
                .menu a p:hover{
                    border-bottom: 2px solid white  ;
                }
                                              
                 
            .redes{
                   align-items: center;

             }
                .redes a{
                    padding-right: 20px;
                }
                .redes a:hover{
                    color: grey;
                }
    
    .section-1{ 
        display: flex;
        
        
    }
        .folie-imagen{
            
            background: url(../images/Landing/Profe\ Alejo\ waikru.jpg);
            background-size: cover;
        }
        .folie-texto{
            color: ;
            
        }